
/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #0000FF;
    color: white;
    margin: 0;
    padding: 0;
}
.carousel-inner{ size 40 x 27 y;}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0000FF;
}

.logo img {
    width: 100px;
}

.login button {
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.intro {
    background-color: hwb(0 0% 100%);
    padding: 20px;
    text-align: center;
    font-size:xx-large;
    color: #f0e9e9;
}

.tutorials {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #0000FF;
}

.tutorial {
    text-align: center;
}

.tutorial img {
    width: 100px;
    height: 100px;
}

footer {
    background-color: #02025a;
    color: #f0e9e9;
    text-align: center;
    padding: 10px;
}
